/* ここから下に記述していきましょう */

* {
  box-sizing: border-box;
}

/*
メモ
css側でコメント機能を使いたいときは
mac コマンドキー + /(スラッシュ)
windows コントロールキー + /(スラッシュ)

背景画像
background: url(xxxx)

文字真ん中
text-align: center

横並び
display:flex
横並びにするときは必ず、display:flexを使ってからじゃないと横並びにならないので注意
display:flexを使ったあとに、横を制御する[justify-content: xxx]を使ったりする


*/

.contact {
  padding: 90px 0 60px;
  color: #5a5c5f;
}
.contact-title {
  margin-bottom: 15px;
}
.contact-form h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  color: #4c4e52;
}
input, textarea {
  font-size: 15px;
  width: 400px;
  padding: 2px 4px;
}
.submit-button {
  margin-top: 20px;
  font-size: 18px;
  width: 80px;
}
